/* Center the form */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Style the form container */
.form-container {
    background-color: #0e0d0dd2;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Style form elements as needed */
label, input {
    display: block;
    margin-bottom: 10px;
}

input[type="submit"], input[type="button"] {
    display: inline-block; /* Display buttons in the same line */
    background-color: #ff7200;
    color: #0a0a0a;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px; /* Add margin to separate buttons */
}

input[type="submit"]:hover, input[type="button"]:hover {
    background-color: #fff;
}
